<div class="container container-mobile">
    <!-- ERRORS -->
    <div class="alert alert-danger mt-2" role="alert" *ngIf="this.withError">
        {{ this.errorMessage }}
    </div>

    <!-- QUIZ-INIT -->
    <div class="quiz-init" *ngIf="this.quizStep == this.appSettingsService.quizStep.Init">
        <p class="quiz-init-gp">Grafipapel S.A.</p>
        <img src="./assets/images/heart-with-mask-3.svg" alt="" class="heart">
        <p class="quiz-init-title">Bienvenido al registro de la <br>Ficha de sintomatología</p>
        <input type="number" class="form-control quiz-init-search" placeholder="DNI" #txtDni>
        <button class="btn btn-primary btn-principal" (click)="checkEmployee(txtDni.value)" [disabled]="this.isLoadingData">Iniciar</button>
    </div>

    <!-- QUIZ-APP -->
    <div class="quiz-app" *ngIf="this.quizStep === this.appSettingsService.quizStep.Quiz">
        <section>
            <div class="quiz-app-user">
                <p><i class="fa fa-user-circle-o" aria-hidden="true"></i> {{ this.employee.firstName + ' ' + this.employee.lastName }}</p>
            </div>
            <div class="progress">
                <!-- <div class="progress-bar" role="progressbar" [style.width]="this.pager.completed + '%'" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div> -->
                <div class="progress-bar" role="progressbar" [style.width]="this.pager.completed + '%'" aria-valuemin="0" aria-valuemax="100">{{ this.pager.completedPercent }}%</div>
            </div>
            <div class="quiz-app-question-count">
                <h1>Pregunta {{ pager.index + 1 }} <span>/ {{ pager.count }}</span></h1>
            </div>
        </section>
        <section *ngFor="let question of filteredQuestions">
            <section class="quiz-app-question">
                <h1>En el último día calendario y hasta el día de hoy ha tenido alguno de los síntomas siguientes: <br><br>{{ question.name }}</h1>
            </section>
            <section class="quiz-app-options-list" *ngFor="let option of question.options">
                <div class="option input-group mb-3">
                    <label class="option-label form-control" [attr.for]="option.id">{{ option.name }}</label>
                    <div class="input-group-append">
                        <div class="option-group input-group-text">
                            <div class="check-round">
                                <input type="checkbox" id="{{ option.id }}" [(ngModel)]="option.selected" (change)="onSelect(question, option)">
                                <label [attr.for]="option.id"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="quiz-app-controls">
                <button class="btn btn-primary btn-principal" (click)="goTo(this.pager.index + 1)" [disabled]="!this.selectedOption" *ngIf="(this.pager.index + 1) !== this.pager.count">Siguiente</button>
                <button class="btn btn-primary btn-principal" (click)="onSubmit()" [disabled]="!this.selectedOption || isLoadingData" *ngIf="(this.pager.index + 1) === this.pager.count">Terminar</button>
            </section>
        </section>
    </div>

    <!-- QUIZ-END -->
    <div class="quiz-end" *ngIf="this.quizStep === this.appSettingsService.quizStep.End">
        <p class="quiz-end-title">Gracias !</p>
        <img src="./assets/images/heart-with-mask-3.svg" alt="" class="heart">
        <p class="quiz-end-healt">En caso de haber respondido <span>SI</span> a uno o más síntomas, no acudir al centro de trabajo y comunicarse con Recursos Humanos al siguiente
            número telefónico: <a href="tel:+51998111273">998 111 273</a>.</p>
        <p class="quiz-end-comment">Todos los datos expresados en este cuestionario constituyen declaración jurada de mi parte. He sido informado que de omitir o falsear información
            puedo perjudicar la salud de mis compañeros y la mía propia. Lo cual constituye una falta grave a la salud pública y salud ocupacional en el centro de
            labores. De esta manera asumo las consecuencias pertinentes de no responder con la verdad.</p>
        <button class="btn btn-primary btn-principal" (click)="restart()">Salir</button>
    </div>
</div>